a{
    text-decoration: none;
    color: black;
}

.view-more-btn{
    background-color: #1bcc88;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
}

.patients-platform-container{
    margin-top: 10px;
    height: 100vh;
    width: 95%;
    margin-right: auto;
    margin-left: 60px;
    margin-bottom: 400px;
}

.all-patient-container{
    display: flex;
    flex-flow: wrap;
    margin-left: 5px;
    overflow: scroll;
    height: 800px;
    padding-bottom: 350px;
}

.card-container-patient{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 31.25%;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 15px;
    cursor: pointer;
    height: 60%;
}

.p-name-c{
    font-weight: bold;
}

.p-title-doc{
    font-size: 22px;
    color: #474948;
}

.patients-platform-container h2{
    margin-bottom: 10px;
}

.pat-info-claron-docs h4{
    font-size: 22px;
}

.pat-info-claron-docs p{
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-p{
    width: 96% !important;
    margin-left: 5px !important;
}

/* PATIENT PROFILE */
.card-container-patient img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pat-info-claron-docs{
    margin-left: 20px;
}

.btn-p{
    background-color: #1bcc88;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* CALLS AND CHARTS DESIGN */
.perform-actions-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.phone-doc{
    
    background-color: #61cd88;
    padding: 10px;
    font-size: 40px;
    border-radius: 50%;
    color: #fff;
    transition: 0.3 ease-in;
    margin-top: 10px;
}

.phone-doc:hover{
    background-color: #2c854d;  
}

.time-msg-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.chat-name-p{
    font-weight: 600;
}

.chat-profile-img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.reject-accept-container:last-child{
margin-bottom: 200px !important;
}
.actions-doc-msg{
display: flex;
position: relative;
}

.mesage-name-time-container{
    display: flex;
   
    justify-content: space-between;
    flex: 1;
}

.chat-time{
    position: absolute;
    top: 2px;
    right: 5px;
}

/* FIXED CHAT ICON STYLINGS */

.fixed-chat-icon{
    background-color: #1bcc88;
    color: #fff;
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

/* MODAL STYLING */
.search-for-patient-input{
    border: 1px solid grey !important;
    border-radius: 5px;
    width: 100% !important;
    padding: 10px;
}

.patient-details{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.patient-details>p{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px !important;
}

.modal-wrapper-chat{
 overflow-y: scroll !important;
 height: 70% !important;
 overflow-x: hidden;
 position: relative;
}

.fixed-top-chat{
    position: sticky;
    width: 100% !important;
    top: -35px !important;
    background-color: #fff !important;
}

.chat-head-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

h1>span{
    background-color: #1bcc88;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

@media(max-width:569px){
    .all-patient-container{
        flex-direction: column;
        flex-wrap: nowrap;
        /* display: flex;
        flex-flow: wrap;
        margin-left: 5px;
        overflow: scroll;
        height: 800px;
        padding-bottom: 60px; */
    }


    .patients-platform-container{
        margin-top: 20px;
        height: 100vh;
        width: 95%;
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 400px;
    }

    .card-container-patient{
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-right: 15px;
        cursor: pointer;
    }
    .mesage-name-time-container{
        margin-left: 35px;
        font-size: 13px;
    }

    .modal-wrapper-chat{
        width: 100% !important;
    }
    .name-email{
        font-size: 12px;
    }

    .call-head{
        font-size: 15px;
    }
}