.lab-container{
    margin: 20px;
    margin-top: 40px;
}

.inner-lab-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.laboratory-container-btn{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.individual-btn{
    background: #009999;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    margin-right: 10px;
}

.facility-btn{
    background: #3399cc;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
}

.history-content{
   
    margin-top: 30px;
    font-size: 30px;
}

.his-container-cont-lab{
    display: grid;
    grid-template-columns: 50% 50%;	
    width: 90%;
}

.single-ambulance{
    padding: 15px;
}

.ambulance{
    margin-left: 25px !important;
    width: 100% !important;
    /* margin-left: 50px; */
    margin-top: 30px;
}

.request-test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.booked-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.loader-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ambulance{
    height: 100%;
    overflow-y: auto;
    width: 96%;
    margin-left: 20px;
}

.amblance-history-container{
    width: 95% !important;
}



/* LABREQUEST NEW STYLINGS */

.lab-wrapper{
    margin-top: 50px;
    width: 95%;
    margin-left: 60px;
    height: 100vh;
    overflow-y: auto;
}

.lab-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.box-one{
flex-grow: 1;
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-two{
    flex-grow: 1;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-three{
flex-grow: 1;
background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-four{
flex-grow: 1;
background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-lab{
    color: #fff;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box-wrapper{
    margin-top: 30px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 5px;
}

.column-his-1{
    margin-left: 5px !important;
    width: 98% !important;
}

.his-container-cont-lab{
    justify-content: space-between !important;
    
    width: 100% !important;
}


/* RESPOSIVENESSS */

@media  (max-width: 560px)  {
    .lab-text{
        font-size: 10px;
    }

    .lab-header h2{
        font-size: 20px;
    }

  .box-wrapper{
      flex-direction: column;
  }

  .lab-wrapper{
    margin-top: 50px;
    width: 92%;
    margin-left: 10px;
}

.column-his-1{
    margin-left: 5px !important;
    width: 98% !important;
}


}