/* .options-container{
    margin-top: 200px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.options-card-container{
    display: flex;
    padding:50px ;
    width: 80%;
    justify-content: space-between;
}

.options-card-box-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    cursor: pointer;
    height: 350px;
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:0.5rem;
    cursor: pointer;
}

.options-card-box-history img{
    width: 50%;
    height: 50%;
}

.login-options{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: #1BCC88;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
} */


.options-card-container{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.options-card-box-history{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    cursor: pointer;
}

.options-card-box-history img{
    width: 100%;
    height: 100%;
}

.login-options{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: #1BCC88;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

@media(max-width:569px){
    .options-card-container{
      flex-direction: column;
      margin-top: 150px;
      gap: 20px;
      width: 100%;
      align-items: center;
    }
    .options-card-box-history img{
        width: 50%;
        height: 50%;
    }

    .options-card-box-history{
        width: 80%;
        padding:1rem;
    }
    .login-options{
      font-size: 15px;
      font-weight: bold !important;
    }
    
}