

.options-card-container{
    margin-top: 12%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.options-card-box-history{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    cursor: pointer;
    position: relative;
}

.options-card-box-history img{
    width: 90%;
    height: 90%;
}

.login-options{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: #1BCC88;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    position: absolute;
    bottom: -15px;
    font-size: 20px;
}

@media(max-width:569px){
    .options-card-container{
      flex-direction: column;
      margin-top: 150px;
      gap: 20px;
      width: 100%;
      align-items: center;
    }
    .options-card-box-history img{
        width: 50%;
        height: 50%;
    }

    .options-card-box-history{
        width: 80%;
        padding:1rem;
        margin-bottom: 20px;
    }
    .login-options{
      font-size: 13px;
      font-weight: bold !important;
      padding: 10px;
    }
    
}